<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
		 cacheResult="true"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnDefect="false"
		 executionOrder="default">

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>

	<testsuites>
		<testsuite name="Underscore Test Suite">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<env name="APP_ENV" value="testing"/>
		<env name="CACHE_DRIVER" value="array"/>
		<env name="SESSION_DRIVER" value="array"/>
		<env name="QUEUE_DRIVER" value="sync"/>
	</php>

	<logging>
		<log type="coverage-html"
			 target="./storage/tests/html/report.html"
			 lowUpperBound="25"
			 highLowerBound="70"
			 showUncoveredFiles="true"
		/>
		<log type="coverage-text"
			 target="php://stdout"
			 showUncoveredFiles="true"
			 showOnlySummary="true"/>
		<log type="junit" target="./storage/tests/logfile.xml"/>
		<log type="coverage-clover" target="./storage/tests/coverage.xml"/>
		<log type="coverage-php" target="./storage/tests/coverage.serialized"/>
		<log type="coverage-crap4j" target="./storage/tests/crap4j.xml"/>
		<log type="testdox-html" target="./storage/tests/testdox.html"/>
		<log type="testdox-text" target="./storage/tests/testdox.txt"/>
	</logging>
</phpunit>
