<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheResult="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnDefect="false" executionOrder="default">
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="./storage/tests/coverage.xml"/>
            <crap4j outputFile="./storage/tests/crap4j.xml"/>
            <html outputDirectory="./storage/tests/html/report.html" lowUpperBound="25" highLowerBound="70"/>
            <php outputFile="./storage/tests/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Underscore Test Suite">
            <directory suffix=".php">tests</directory>
            <exclude>tests\Dummies\DummyClass.php</exclude>
            <exclude>tests\Dummies\DummyDefault.php</exclude>
            <exclude>tests\UnderscoreTestCase.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <logging>
        <junit outputFile="./storage/tests/logfile.xml"/>
        <testdoxHtml outputFile="./storage/tests/testdox.html"/>
        <testdoxText outputFile="./storage/tests/testdox.txt"/>
    </logging>
</phpunit>
